header {
    padding: 40px;
}

.logo {
    max-width: 75px;
    max-height: 75px;
}

h1 {
    padding: 20px;
}

label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: transparent;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #242424;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label:after {
    left: 98px;
    transform: translateX(-100%);
    background: #C6C6C6;
}

label,
label:after {
    transition: 0.3s;
    transition-timing-function: linear;
}

label svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    z-index: 100;
}

label svg.sun {
    left: 8px;
    transition: 0.3s;
}

label svg.moon {
    left: 68px;
    fill: transparent;
    transition: 0.3s;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 25px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}